// font-family: 'Roboto', sans-serif;
// font-family: 'Nanum Gothic', sans-serif;

body {
	font-size: 62.5%;
}

.wrapper {
	max-width: 1054px;
	width: 95%;
	margin: 0 auto;
}

h1, h2, h3 {
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

li, a, p, span, button, i {
	font-size: 1.6rem;
	font-family: 'Nanum Gothic', sans-serif;
}

a, button {
	border: 3px solid black;
	border-radius: 100px;
	padding: 5px 15px;
	cursor: pointer;
}

i {
	position: absolute;
	left: 10px;
}

aside {
	width: 300px;
	height: 80vh;
	background-color: lightgrey;
	border: 5px solid black;
	border-radius: 50px;
	position: absolute;
	left: -50px;
	z-index: 100;
	transition: all 0.5s ease-in-out;
	div {
		padding-left: 55px;
	}
}

.hidden {
	left: -250px;
}

section {
	display: flex;
	justify-content: space-around;
}